<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Nested templates</h1>
  <div>
    <div>{{ . }}</div>
    <div>{{ .GetFullName }}</div>
    <div>{{ 9000 | .GetAge }}</div>
  </div>
</body>
</html>